.postAll{
    padding-top: 16px;
    margin: 0 16px 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

img {
    margin-top: 30px;
    border-radius: 20px;
    max-width: 600px;
}

.avatarGray {
    background-size: cover;
    border-radius: 50%;
    min-width: 52px;
    height: 52px;
    background-color: #E5E5E5;
}

.imeg {
    width: 300px;
}

.post {
    width: 100%;
}

.repost img{
    width: 20px;
    height: 20px;
}

@media only screen and (min-width: 800px) {
    .avatarGray {
        min-width: 64px;
        height: 64px;
    }
}

.nickNameDate {
    display: flex;
    justify-content: space-between;
}

.grayNickName {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    .grayNickName{
        flex-direction: column;
    }
}

.grayName {
    font-family: 'Lato Black';
    font-size: 14px;
    height: 14px;
    width: 100px;
    background-color: #E5E5E5;
    color: #E5E5E5;
}

@media only screen and (min-width: 800px) {
    .grayName{
        margin-right: 16px;
        font-size: 16px;
    }
}

.grayNick {
    font-size: 14px;
    line-height: 18px;
    margin-top: 7px;
    height: 14px;
    width: 150px;
    background-color: #E5E5E5;
    color: #E5E5E5;
}

@media only screen and (min-width: 800px) {
    .grayNick {
        font-size: 16px;
    }
}

.grayMessage {
    padding: 5px 0;
    color:#1D1E22;
    line-height: 18px;
}

.grayMessage p{
    margin-top: 30px;
    background-color: #E5E5E5;
    width: 100%;
    height: 14px;
}

.grayMessage p:last-child{
    margin-top: 7px;
    margin-bottom: 30px;
    width: 70%;
}

.graySpace {
    height: 10px;
    background-color: #E5E5E5;
}

.postAll{
    padding-top: 16px;
    margin: 0 16px 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E9E9E9;
}

@media only screen and (min-width: 800px) {
    .postAll{
        border-bottom: 0;
    }
}

.avatar {
    background-size: cover;
    border-radius: 50%;
    min-width: 52px;
    height: 52px;
}

@media only screen and (min-width: 800px) {
    .avatar{
        min-width: 64px;
        height: 64px;
    }
}

.post {
    width: 100%;
}

.nickNameDate {
    display: flex;
    justify-content: space-between;
}

.nameNick {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    .nameNick{
        flex-direction: row;
    }
}

.name {
    color:#1D1E22;
    font-family: 'Lato Black';
    font-size: 14px;
}

@media only screen and (min-width: 800px) {
    .name{
        margin-right: 16px;
        font-size: 16px;
    }
}

.nick {
    color:#ABACB1;
    font-size: 14px;
    line-height: 18px;
}

@media only screen and (min-width: 800px) {
    .nick{
        font-size: 16px;
    }
}

.date {
    display: flex;
    flex-direction: column;
    text-align: right;
    color: #ABACB1;
    font-size: 10px;
    line-height: 10px;
}

@media only screen and (min-width: 800px) {
    .date{
        flex-direction: row;
        font-size: 14px;
    }
}

.message {
    padding: 5px 0;
    color:#1D1E22;
    line-height: 18px;
}

.message p {
    margin: 0;
}

.attachedPicture {
    border-radius: 10px;
    margin-top: 10px;
    height: 171px;
    max-width: 100%;
}

@media only screen and (min-width: 800px) {
    .attachedPicture {
        height: 342px;
        max-width: 100%;
    }
}

.counters {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 270px;
    height: 24px;
    margin-bottom: 16px;
}

@media only screen and (min-width: 800px) {
    .counters {
        max-width: 270px;
    }
}

.counters span {
    color:#B1B1B1;
    font-size: 14px;
    padding-left: 12px;
}

hr {
    border: 1px solid #E9E9E9;
}

@media only screen and (min-width: 800px) {
    hr {
        border: 0px solid #FFFFFF;
    }
}