.nav {
    margin-top: 100px;
    height: 203px;
    width: 312px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 8px;
    font-size: 18px;
    font-family: 'Lato Black';
    padding-left: 16px;
}

.settings {
    margin: 0 auto;
    padding: 20px;
}

p {
    font-family: 'Lato';
}

.nav a {
    color: #1D1E22;
    font-family: 'Lato Light';
    text-decoration: none;
    margin-top: 14px;
    padding-left: 16px;
}

a.active {
    color: #0057FF;
}

button {
    height: 50px;
    background-color: #0057FF;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 9px 18px 15px;
    font-size: 18px;
    font-family: 'Lato';
    border: none;
}
